# Default rules intentionally disabled
--disable blankLinesBetweenScopes
--disable redundantStaticSelf

# Default rules to disable
--disable modifierOrder
--disable opaqueGenericParameters
--disable redundantReturn
--disable unusedArguments

# Opt-in rules to enable
