# Default rules intentionally disabled
--disable blankLinesBetweenScopes

# Default rules to disable
--disable braces
--disable emptyBraces
--disable indent
--disable modifierOrder
--disable opaqueGenericParameters
--disable redundantReturn
--disable redundantStaticSelf
--disable trailingSpace
--disable unusedArguments
--disable wrapMultilineStatementBraces

# Opt-in rules to enable
